.card__image {
  width: 282px;
  height: 282px;
  display: block;
}
.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  font-family: "inter", Arial, sans-serif;
}
.card__description {
  display: flex;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  color: black;
  border-radius: 0 0 10px 10px;
}
.card__like-button {
  background: transparent url(../images/likebutton.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  cursor: pointer;
}
.card__like-button:hover{
  opacity: 0.5;
  cursor: pointer;
}