.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 67px;
  font-family: "Inter", Arial, sans-serif;
  position: relative;
}
.card__image {
  /*position: relative;*/
  width: 282px;
  height: 282px;
  display: inline-block;
}
.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  font-family: "inter", Arial, sans-serif;
}
.card__description {
  display: flex;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  color: black;
  border-radius: 0 0 10px 10px;
}
.card__like-button {
  background: transparent url("../images/likebutton.svg") center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  cursor: pointer;
}
.card__like-button_active {
  background: url("../images/likeactive.svg");
}
.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.card__delete-button {
  background: transparent url("../images/Trash.svg") center no-repeat;
  position: absolute;
  width: 18px;
  height: 19.3px;
  top: 10px;
  left: 244px;
  border: none;
  cursor: pointer;
  background-size: contain;
}

.card__delete-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
/*.preview__card-image {
  max-width: 75vh;
  max-height: 75vh;
  top: 90px;
  left: 424px;
  margin: 0 auto;
  display: block;
  padding: 0;
  margin: 0;
}
@media (max-width: 621px) {
 /* .preview__card-image {
    gap: 0px;
    width: 240px;
    height: 299px;
    top: 136px;
    left: 40px;
    gap: 0px;
    opacity: 0px;
  }
}*/
