.footer__description {
    width: 318px;
    height: 18px;
    top: 67px;
    left: 200px;
    right: 762px;
    bottom: 60px;
    color: #545454;
    margin: 0 auto;
    font-family: "inter", Arial, Helvetica, sans-serif;
  }
  .footer{
    margin-bottom: 60px;
    margin-right: 562px;
    margin-top: 67px;
  }
  @media screen and (max-width: 621px) {
    .footer {
      max-width: 282px;
      height: 14px;
      margin-left: 19px;
      margin-right: 19px;
      margin-bottom: 36px;
    }
  }