.header {
    display: flex;
    max-width: 880px;
    margin-top: 45px;
    border-bottom: 1px solid;
    column-gap: 41px;
  }
  .header__logo{
    top:45px;
    width: 173px;
    height: 33px;
    padding-bottom: 41px;
    }
  