@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../Blocks/page.css);
@import url(../Blocks/header.css);
@import url(../Blocks/profile.css);
@import url(../Blocks/cards.css);
@import url(../Blocks/card.css);
@import url(../Blocks/footer.css);

@media screen and (max-width: 621px) {
  .header page__section {
    margin-top: 28px;
    margin-left: 27px;
    margin-right: 167px;
  }
  .header__logo {
    max-width: 128px;
    height: 24px;
  }

  .profile {
    flex-direction: column;
    row-gap: 30px;
  }
  .profile__image {
    width: 120px;
    height: 120px;
    top: 126px;
    left: 101px;
    gap: 0px;
    opacity: 0px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    row-gap: 10px;
    box-sizing: border-box;
  }
  .profile__title {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .profile__editbutton {
    gap: 0px;
    opacity: 0px;
    gap: 5.25px;
    border: 1px solid #fff;
    width: 18px;
    height: 18px;
  }
  .profile__description {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: center;
    width: 282px;
    height: 14px;
    top: 312px;
    left: 19px;
    gap: 0px;
    opacity: 0px;
  }
  .profile__add-button {
    margin: 0;
    width: 282px;
    height: 50px;
    top: 362px;
    left: 19px;
    right: 19px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid #fff;
  }
  .footer {
    max-width: 282px;
    height: 14px;
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 36px;
  }
}
